body > header {
  height: 400px;
  width: 100%;
  background-image: url('/images/y-so-serious.png');
}
header img.main-avatar {
  border: 3px solid #5F83DB;;
  border-radius: 150px;
  border-style: outset;
}

@media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
  body > header {
    margin-left: 1em;
    margin-top: 40px;
    width: 330px;
    height: 330px;
    border-radius: 50px;
    float: left;
    position: fixed;
  }

  header img.main-avatar {
    width: 230px;
    height: auto;
  }
  .animate {
    animation: 
    rgb 1s infinite;
  }
  @keyframes rgb {
    0%   {box-shadow: 2px 2px 4px red;transform: rotate(0deg)}
    12.5%  {box-shadow: 2px 2px 4px yellow;transform: rotate(1deg)}
    25%  {box-shadow: 2px 2px 4px blue;transform: rotate(2deg)}
    37.5% {box-shadow: 2px 2px 4px green;transform: rotate(1deg)}
    50%   {box-shadow: 2px 2px 4px red;transform: rotate(0deg)}
    62.5%  {box-shadow: 2px 2px 4px yellow;transform: rotate(-1deg)}
    75%  {box-shadow: 2px 2px 4px blue;transform: rotate(-2deg)}
    87.5% {box-shadow: 2px 2px 4px green;transform: rotate(-1deg)}
    100%   {box-shadow: 2px 2px 4px red;transform: rotate(0deg)}
  }
}