nav {
  height: 120px;
  width: 100%;
  background-color: #161616;
  color: #f4f1ec;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

nav span {
  font-family: 'Bungee';
}

.nav-sticky {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
}

.btn-toggle:hover {
  cursor: pointer;
  color: #5F83DB;
}

.btn-top {
  cursor: pointer;
  right: 15px;
  bottom: 15px;
  position: fixed;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #f4f1ec;
  background: #161616;
  display: flex;
  justify-content: center;
  align-content: center;
}
@keyframes move {
  /* from { top: 0; left: 0; }
  to   { top: 100px; left: 100px; } */
}
.move {
  animation-name: move;
  animation-duration: 10s;
}