nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

nav span {
  font-family: 'Bungee';
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-icon-1 {
  margin-top: -1em;
  color: red;
}
