.tweet .header {
  display: flex;
  justify-content: space-between;
  padding: .3rem;
}
.tweet {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 3px solid #232323;
  padding: 1rem;
}
.tweet:hover {
  box-shadow: 4px 4px;
}
.tweet h2, h3 {
  margin: .5rem;
    font-size: 1.2rem;
}
.tweet .text-area {
  font-size: 0.8em;
  border-bottom: 3px solid #232323;
}
.tweet .footer {
  display: flex;
  justify-content: space-between;
  font-size: .7em;
  padding-left: .8rem;
  padding-right: .8rem;
}
.tweet i:hover {
  color: #FFB612;
}