.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem;
  margin-bottom: 12px;
}
.tweet {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 3px solid #232323;
  padding: 10px;
  background-image: url('/images/webb.png');
}
.tweet:hover {
  box-shadow: 4px 4px 10px;
}
.grow-tweet {
  transition: all .2s ease-in-out; 
}
.grow-tweet:hover {
  transform: scale(1.02);
  cursor:pointer;
}
.tweet h2, h3 {
  margin: 0;
  font-size: 1.2rem;
}
.tweet .name {
  margin-left: 15px;
}
.tweet .handle {
  color: #5F83DB;
  font-size: small;
}
.tweet .text-area {
  font-size: 0.8em;
  border-bottom: 3px solid #232323;
}
.tweet .footer {
  display: flex;
  justify-content: space-between;
  font-size: .7em;
  padding-left: .8rem;
  padding-right: .8rem;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 10px;
}
.tweet > footer > p {
margin: 0;
padding: 0;
}
.grow-icon {
  transition: all .2s ease-in-out; 
}
.grow-icon:hover {
  transform: scale(1.5);
  cursor:pointer;
}
.tweet .fa-heart:hover {
  color: #EC3F22;
}
.tweet .fa-retweet:hover {
  color: #3884FF;
}
.tweet .fa-flag:hover {
  color: #47AC40;
}
.tweet img.avatar {
  width: 1.6em;
  height: auto;
}